# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/autom4te.cache/
/.settings/
/configure
/.autotools
*.cproject
*.log
/Makefile
*.in
/missing
/install-sh
/config.guess
/depcomp
*.sub
*.status
*.m4
/m4/
